<VirtualHost *:443>
    # General setup for the virtual host, inherited from global configuration
    DocumentRoot "/var/www/html/default"
    ServerName api.{{ openconext_domain }}:443

    # Use separate log files for the SSL virtual host; note that LogLevel
    # is not inherited from httpd.conf.
    ErrorLog logs/api_ssl_error_log
    TransferLog logs/api_ssl_access_log
    LogLevel warn

    SSLEngine             on
    SSLProtocol           -ALL +SSLv3 +TLSv1
    SSLCipherSuite        ALL:!aNULL:!ADH:!eNULL:!LOW:!EXP:!RC4-MD5:RC4+RSA:+HIGH:+MEDIU
    SSLCertificateFile    /etc/httpd/keys/openconext.pem
    SSLCertificateKeyFile /etc/httpd/keys/openconext.key
    SSLCACertificateFile  /etc/httpd/keys/openconext_ca.pem

    RewriteEngine On
    RewriteRule ^/$ /v1/$1 [L,R=permanent]

    <Files ~ "\.(shtml?)$">
        SSLOptions +StdEnvVars
    </Files>

    SetEnvIf User-Agent ".*MSIE.*" \
             nokeepalive ssl-unclean-shutdown \
             downgrade-1.0 force-response-1.0

    CustomLog logs/ssl_request_log \
              "%t %h %{SSL_PROTOCOL}x %{SSL_CIPHER}x \"%r\" %b"


    # Proxy requests through to Tomcat using AJP

    ProxyPass / ajp://localhost:8009/

</VirtualHost>
